@charset "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}

.main {
	margin:0 auto;
	padding: 5px;
	height: auto;
	min-height:600px;
	background-color: #d2d8de;
}

.header {
	font-size: 30px;
	margin: 20px;
}

.desc {
	font-size: 16px;
	margin: 10px;
}

.desc p {
	text-align: left;
	text-indent:2em;
}

.content {
	margin: 10px;
	width: 98%;
}

.flag img {
	width: 45px;
}

#result img {
	height: 200px;
}

#result button {
	height: 50px;
}

table
{
    border-collapse: collapse;
    border: none;
}

td
{
    border: solid #000 1px;
    padding: 0px;
}

.ball {
	text-align: center;
}